{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container container-fluid my-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
  
      {% for task in tasks %}
      <div class="col">
          <div class="card p-3 border rounded-3 shadow-sm bg-light">
              <div class="card-body">
                  <h5 class="card-title">{{task.title}}</h5>
                  {% for cat in task.category.all %}
                  <span class="badge rounded-pill bg-dark">{{cat.name}}</span>
                  {% endfor %}
                  <br>
                  <p class="card-text mt-3">{{task.description|truncatewords:30}}</p>
                    <p class="card-text"><small class="text-muted">Created at {{task.created_at}}</small></p>
                    {% if task.is_completed == True %}
                        <p class="card-text"><small class="text-success">Completed</small></p>
                        <a href="{% url "delete_task" task.id %}" class="btn btn-sm btn-danger mt-2">Remove</a>
                    {% else %}
                    <div class="w-100 mx-auto">
                        <a href="{% url "edit_task" task.id %}" class="btn btn-sm btn-warning mt-2">Edit</a>
                        <a href="{% url "delete_task" task.id %}" class="btn btn-sm btn-danger mt-2">Delete</a>
                    </div>
                    {% endif %}
              </div>
          </div>
      </div>
      {% endfor %}
  
    </div>
  </div>
{% endblock %}